body{
    font-size:14px;
    line-height:21px;
    color:#696969;
    font-weight:bold;
    font-family:"PT Sans", sans-serif;
}
.title{
    font-size:21px;
    line-height:26px;
    color:#ffffff;
    font-weight:bold;
    font-family:"PT Sans", sans-serif;
}

