body{
  margin: 0 auto;
  padding: 0;
  min-width: 1280px;

  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.container{
  margin: 0 auto;
  width: 1200px;

  background-color: #ffffff;
}

.title{
  font-size: 21px;
  color: #000000;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
}

.visually-hidden{
  display: none;
}

.main-header{
  position: relative;
}

.main-logo{
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.main-navigation{
  line-height: 26px;
  font-weight: 700;
}

.navigation{
  display: flex;
  margin: 0;
  padding: 0;
 
  list-style: none;
}

.navigation li{
  width: 20%;
  padding: 15px 0;
  
  text-align: center;
}

.navigation li:nth-child(2){
   margin-right: 20%; 
}

.navigation a{
  color: #000000;
  text-decoration: none;
}

.navigation a:hover{
  color: #81b3d2;
}

.navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}

.welcome-page{
  margin-bottom: 65px;
}

.appeal{
  width: 500px;
  margin: auto;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.appeal p{
  margin-bottom: 30px;
}

.appeal p:nth-child(2){
  margin-bottom: 50px;
}

.five-reasons{
  font-size: 14px;
  font-weight: 400;
}

.features-item{
  display: flex;
}

.feature-text{
  width: 400px;

  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.feature-text h2{
  margin-top: 47px;
  margin-left: 120px;
  margin-right: 120px;
  color: #ffffff;
}

.number{
  margin-top: 24px;
}

.feature-text p{
  margin-top: 26px;
  margin-left: 45px;
  margin-right: 45px;
}

.feature-photo img{
  display: block;
}

.feature-item-list{
  border: 1px solid transparent;
}

.offer-list{
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.offer-item{
  width: 400px;
  text-align: center;
}

.offer-item h2{
  margin-top: 160px;
  margin-bottom: 23px;
}

.offer-item p{
  margin-bottom: 83px;
  margin-left: 50px;
  margin-right: 50px;
}

.feature-item-list{
  background-color: #eeeeee;
}

.feature-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.feature-item{
  width: 400px;
}

.feature-item h2{
  margin-top: 46px;
  margin-bottom: 22px;
  margin-left: 130px;
  margin-right: 130px;
}

.feature-item p{
  margin-top: 26px;
  margin-bottom: 60px;
  margin-left: 65px;
  margin-right: 65px;
}

.search-form{
  position:relative;
}

.appeal-text{
  width: 500px;
  margin: 0 auto;
  padding-top: 53px;

  line-height: 24px;
  text-align: center;
}

.appeal-text .text{
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.appeal-text p{
  margin-top: 27px;
  margin-bottom: 50px;
}

.search-button{
  width: 570px;
  margin-left: 315px;
  margin-right: 315px;
  padding-top: 30px;
  padding-bottom: 30px;

  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  border: none;
  background-color: #766357;
}

.search-button:hover{
  background-color: #604e43;
}

.search-button:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.modal-form{
  position: absolute;
  left: 315px;
  z-index: 10;
  width: 570px;
  margin: 0 auto;
  color: #000000;
  line-height: 26px;
  font-weight: 700;

  background-color: #ffffff;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
}

.modal-form input{
  width: 330px;
  padding: 10px 0 10px 12px;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

  border: none;
  background-color: #f2f2f2;
}

.modal-form input:hover{
  background-color: #ebebeb;
}

.modal-form input:focus{
  outline: none;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.modal-form input[type="number"]{
   width: 102px;
}

.modal-form label{
  display: inline-block;
  width: 95px;
  margin-right: 15px;
  margin-left: 55px;
}

.modal-form label:nth-of-type(4){
  width: 40px;
  margin-left: 51px;
  margin-top: 30px;
  margin-bottom: 55px;
}

.modal-form input:nth-of-type(1){
  margin-top: 55px;
  margin-bottom: 30px;
}

.modal-button{
  width: 458px;
  height: 60px;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 55px;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  border: none;
  background-color: #81b3d2;
}

.modal-button:hover{
  background-color: #669ec0;
}

.modal-button:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer-content{
  position: relative;
  line-height: 26px; 
}

.map img{
  display: block;
}

.footer-social{
  position: absolute;
  bottom: 0;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
  padding-bottom: 35px;
  
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag a{
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
}

.footer-social-list{
  display: flex;
  margin: 0;
  padding: 0;
 
  text-align: center;
  list-style: none;
}

.footer-social-list a{
  margin-right: 10px;
  color: #000000;
  text-decoration: none;
}

.copyright{
  color: #000000;
  font-size: 14px;
}

.footer-logo{
  color: #000000;
  text-decoration: none;
}

.main-navigation-current{
  color: #766357;
}

.filter-form{
  display: flex;
  padding-top: 30px;
  
  color: #ffffff;

  background-color: #47769f;
  background-image: url("../img/filter-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter{
  margin: 0;
  padding: 0;
  border: none;
}

.filter-infrasructure{
  width: 155px;
  margin-left: 70px;
}

.filter-living{
  width: 155px;
  margin-left: 95px;
}

.filter-price{
  width: 320px;
  margin-left: auto;
  margin-right: 73px;
}

.filter ul{
  margin-bottom: 30px;
  padding: 0;
  
  list-style: none;
}

.filter-infrastructure-option{
  margin-bottom: 25px;
}

.filter-title{
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
}

.range-max-min input{
  width: 155px;
  border: 1px solid #ffffff;
  margin-top: 12px;
  
  color: #ffffff;

  background-color: transparent;
}

.range-button{
  margin-left: 115px;
  margin-top: 55px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  border: 1px solid #ffffff;
  background-color: transparent;
}

.range-button:hover{
  color: #000000;

  background-color: #ffffff;
}

.founded{
  margin-right: 45px;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting{
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
}

.sort{
  margin-right: 37px;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
}

.sorting-list{
  width: 290px;
  margin-top: 5px;
  padding: 0;
  margin-right: 435px;
  list-style: none;
}

.sorting-list li{
  display: inline-block;
  margin-right: 25px;
}

.sorting-list a{
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;

  border-bottom: 1px dashed #000000;
}

.sorting-list a:hover{
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-list a:active{
  color: #000000;

  border: none;
}

.sorting-option-current{
  color: #81b3d2;
  font-size: 12px;
  line-height: 18px;
}

.arrows{
  font-size: 7px;
  line-height: 8px;
}

.result-info{
  display: flex;
  padding: 30px 70px 30px 70px;
  border-bottom:1px solid #f2f2f2;
}

.result-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  margin-right: 535px;
}

.housing span:first-child{
  display: inline-block;
  width: 110px;
}

.rating{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.result-photo img{
  display: block;
}

.result-photo{
  margin-right: 30px;
}

.top-line{
  border-top:1px solid #f2f2f2;
}

.hotel-name{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-name:hover{
  color: #81b3d2;
}

.hotel-name:active{
  color: rgba(0, 0, 0, 0.3);
}
.result-button{
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;

  border: none;
}

.more-detailed-button{
  width: 110px;
  height: 25px;
  background-color: #81b3d2;
}

.more-detailed-button:hover{
  background-color: #669ec0;
}

.more-detailed-button:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.book-it-button{
  width: 140px;
  height: 25px;
  background-color: #766357;
}

.book-it-button:hover{
  background-color: #604e43;
}

.book-it-button:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating-output{
  margin: 0;
  
  color: #666666;

  background-color: #f2f2f2;
}










